{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>
    <h2>{{ post.body }}</h2>
    <a href="{{ path('blog_post_edit', {'slug': post.slug}) }}">Редактировать</a>
    <a href="{{ path('blog_post_delete', {'slug': post.slug}) }}">Удалить</a>
{% endblock %}
